@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&display=swap');

/* --------------------------
General Config
-------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

h1,
h2 {
  font-family: 'Poppins', sans-serif;
}

/* --------------------------
Custom Class Styles Config
-------------------------- */

.btn-blue-color {
  background-color: #0aace1;
  outline: none;
  border: none;
}

.btn-blue-darker-color {
  background-color: #1e335e;
  outline: none;
  border: none;
}

.btn-blue-darker-color:hover {
  background-color: #1e3c5e;
}

.border-smooth-grey {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.footer-color {
  background-color: #1e335e;
}

.shadow-smooth {
  box-shadow: 5px 4px 14px 2px rgba(0, 0, 0, 0.3);
}

.roboto-font {
  font-family: 'Roboto Mono', monospace !important;
}

/* --------------------------
Header
-------------------------- */

#nav #menu {
  list-style-type: none;
}

#nav .showMenu {
  display: flex;
  flex-flow: column;
  position: absolute;
  right: 0;
  text-align: center;
  top: 2.6rem;
  background-color: #9ec8f1;
}

#nav .hideMenu {
  display: none;
}

.showMenu li {
  padding: 10px;
  border: 1px solid black;
}
