@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&display=swap');

/* --------------------------
General Config
-------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

h1,
h2 {
  font-family: 'Poppins', sans-serif;
}

/* --------------------------
Custom Class Styles Config
-------------------------- */

.btn-blue-color {
  background-color: #0aace1;
  outline: none;
  border: none;
}

.btn-blue-darker-color {
  background-color: #1e335e;
  outline: none;
  border: none;
}

.btn-blue-darker-color:hover {
  background-color: #1e3c5e;
}

.border-smooth-grey {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.footer-color {
  background-color: #1e335e;
}

.shadow-smooth {
  box-shadow: 5px 4px 14px 2px rgba(0, 0, 0, 0.3);
}

.roboto-font {
  font-family: 'Roboto Mono', monospace !important;
}

/* --------------------------
Header
-------------------------- */

#nav #menu {
  list-style-type: none;
}

#nav .showMenu {
  display: flex;
  flex-flow: column;
  position: absolute;
  right: 0;
  text-align: center;
  top: 2.6rem;
  background-color: #9ec8f1;
}

#nav .hideMenu {
  display: none;
}

.showMenu li {
  padding: 10px;
  border: 1px solid black;
}

/* --------------------------
Theme Toggle
-------------------------- */

.toggle-checkbox {
  opacity: 0;
  position: absolute;
}

.toggle-label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  position: relative;
  height: 15px;
  width: 36px;
  transform: scale(1.5);
}

.toggle-label .toggle-ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  height: 16px;
  width: 16px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.toggle-checkbox:checked + .toggle-label .toggle-ball {
  transform: translateX(15px);
}

/* --------------------------
Dark Theme
-------------------------- */

.bg-darkTheme-main {
  background-color: #354664;
}

.bg-lightTheme-main {
  background-color: #fff;
}

.bg-darkTheme-card {
  background-color: #1e7aa1;
}

.bg-lightTheme-card {
  background-color: #eee;
}

.text-darkTheme {
  color: #95d1eb;
}

.text-lightTheme {
  color: #20335e;
}
